In [250]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import missingno as msno

# Cleaning Training CSV

* This notebook takes in an initially cleaned training data csv and a raw test data csv and cleans them to match, dummifies them and cleans them to match once again.

Read in initial cleaning csv

In [251]:
ames = pd.read_csv('/Users/jamesopacich/Documents/dsi/projects/project_2/attempt_1/datasets/ames_ic.csv' )

In [252]:
ames.head()

,ms_subclass,ms_zoning,lot_frontage,lot_area,lot_config,neighborhood,condition_1,condition_2,bldg_type,house_style,...,3ssn_porch,screen_porch,pool_area,misc_val,mo_sold,yr_sold,sale_type,saleprice,ttl_sf,ttl_bath
0,60,RL,69.0552,13517,CulDSac,Sawyer,RRAe,Norm,1Fam,2Story,...,0,0,0,0,3,2010,WD,130500,2204.0,2.5
1,60,RL,43.0000,11492,CulDSac,SawyerW,Norm,Norm,1Fam,2Story,...,0,0,0,0,4,2009,WD,220000,3035.0,3.5
2,20,RL,68.0000,7922,Inside,NAmes,Norm,Norm,1Fam,1Story,...,0,0,0,0,1,2010,WD,109000,2114.0,2.0
3,60,RL,73.0000,9802,Inside,Timber,Norm,Norm,1Fam,2Story,...,0,0,0,0,4,2010,WD,174000,1828.0,2.5
4,50,RL,82.0000,14235,Inside,SawyerW,Norm,Norm,1Fam,1.5Fin,...,0,0,0,0,3,2010,WD,138500,2121.0,2.0

In [253]:
ames.shape

(2051, 52)

In [254]:
ames.columns

Index(['ms_subclass', 'ms_zoning', 'lot_frontage', 'lot_area', 'lot_config',
       'neighborhood', 'condition_1', 'condition_2', 'bldg_type',
       'house_style', 'overall_qual', 'overall_cond', 'year_built',
       'year_remod/add', 'exterior_1st', 'mas_vnr_type', 'mas_vnr_area',
       'exter_qual', 'exter_cond', 'foundation', 'bsmt_qual', 'bsmt_cond',
       'bsmt_exposure', 'bsmtfin_type_1', 'heating', 'heating_qc',
       'central_air', 'electrical', 'bedroom_abvgr', 'kitchen_abvgr',
       'kitchen_qual', 'totrms_abvgrd', 'functional', 'fireplaces',
       'garage_type', 'garage_yr_blt', 'garage_finish', 'garage_cars',
       'paved_drive', 'wood_deck_sf', 'open_porch_sf', 'enclosed_porch',
       '3ssn_porch', 'screen_porch', 'pool_area', 'misc_val', 'mo_sold',
       'yr_sold', 'sale_type', 'saleprice', 'ttl_sf', 'ttl_bath'],
      dtype='object')

In [255]:
# dropping total rooms above ground because it overlaps with total bedrooms and kitchens
ames.drop(columns = 'totrms_abvgrd', inplace = True)

In [256]:
pool = ames[ames['pool_area'] > 0]

In [257]:
pool

,ms_subclass,ms_zoning,lot_frontage,lot_area,lot_config,neighborhood,condition_1,condition_2,bldg_type,house_style,...,3ssn_porch,screen_porch,pool_area,misc_val,mo_sold,yr_sold,sale_type,saleprice,ttl_sf,ttl_bath
52,60,RL,80.0000,16692,Inside,NWAmes,RRAn,Norm,1Fam,2Story,...,0,440,519,2000,7,2006,WD,250000,4176.0,4.5
657,80,RL,76.0000,9880,Inside,Mitchel,Norm,Norm,1Fam,SLvl,...,0,0,576,0,7,2008,WD,171000,2214.0,2.0
761,80,RL,100.0000,14330,Corner,Veenker,Norm,Norm,1Fam,SLvl,...,0,0,800,0,1,2006,WD,260000,4394.0,4.0
952,20,RL,70.0000,18044,CulDSac,Crawfor,Norm,Norm,1Fam,1Story,...,0,0,228,0,8,2007,WD,315000,3005.0,2.5
960,60,RL,313.0000,63887,Corner,Edwards,Feedr,Norm,1Fam,2Story,...,0,0,480,0,1,2008,New,160000,11752.0,4.5
1130,20,RL,78.0000,10140,Inside,NWAmes,Norm,Norm,1Fam,1Story,...,0,0,648,0,1,2006,WD,181000,2349.0,2.5
1249,80,RL,69.0552,19690,CulDSac,Edwards,Norm,Norm,1Fam,SLvl,...,0,0,738,0,8,2006,WD,274970,2898.0,2.0
1635,20,RL,75.0000,9532,Inside,NAmes,Norm,Norm,1Fam,1Story,...,0,0,368,0,2,2007,WD,153000,2752.0,2.0
1875,20,RL,200.0000,43500,Inside,Mitchel,Artery,Norm,1Fam,1Story,...,0,0,561,0,6,2007,WD,130000,2034.0,1.0

In [258]:
# dropping pool area because there are less than 20 values for pools
ames.drop(columns = 'pool_area', inplace = True )

In [259]:
# create a df with huge houses
big_houses = ames[ames['ttl_sf'] > 5000]

In [260]:
# a couple of over 10,000ft homes. I will look into eliminating these outliers. 
big_houses.head()

,ms_subclass,ms_zoning,lot_frontage,lot_area,lot_config,neighborhood,condition_1,condition_2,bldg_type,house_style,...,enclosed_porch,3ssn_porch,screen_porch,misc_val,mo_sold,yr_sold,sale_type,saleprice,ttl_sf,ttl_bath
30,20,RL,80.0000,9600,Inside,NWAmes,PosN,Norm,1Fam,1Story,...,0,0,0,0,7,2009,WD,278000,5048.0,3.5
328,20,RL,69.0552,12692,Inside,NoRidge,Norm,Norm,1Fam,1Story,...,291,0,0,0,5,2007,WD,430000,6428.0,4.0
960,60,RL,313.0000,63887,Corner,Edwards,Feedr,Norm,1Fam,2Story,...,0,0,0,0,1,2008,New,160000,11752.0,4.5
1117,20,RL,69.0552,11400,Inside,NoRidge,Norm,Norm,1Fam,1Story,...,0,0,0,0,3,2007,WD,466500,5266.0,3.5
1164,20,RL,105.0000,15431,Inside,NridgHt,Norm,Norm,1Fam,1Story,...,0,0,170,0,4,2009,WD,555000,5496.0,3.0

In [261]:
big_lots_std =  (3 * ames['lot_area'].std()) + ames['lot_area'].mean()
big_lots_std

30292.67491961595

In [262]:
ames[ames['lot_area'] > big_lots_std]

,ms_subclass,ms_zoning,lot_frontage,lot_area,lot_config,neighborhood,condition_1,condition_2,bldg_type,house_style,...,enclosed_porch,3ssn_porch,screen_porch,misc_val,mo_sold,yr_sold,sale_type,saleprice,ttl_sf,ttl_bath
24,190,RL,100.0000,34650,Inside,Gilbert,Norm,Norm,2fmCon,1Story,...,0,0,0,0,1,2006,WD,145000,2112.0,2.0
108,20,RL,69.0552,39384,CulDSac,NAmes,Norm,Norm,1Fam,1Story,...,0,0,0,0,10,2006,WD,252000,3095.0,2.5
337,190,RL,69.0552,32463,Inside,Mitchel,Norm,Norm,2fmCon,1Story,...,0,0,0,0,3,2007,WD,168000,2871.0,2.0
441,190,RL,195.0000,41600,FR2,Gilbert,Norm,Norm,2fmCon,1Story,...,0,0,0,0,11,2007,WD,155000,2524.0,2.5
471,50,RL,69.0552,159000,CulDSac,ClearCr,Norm,Norm,1Fam,1.5Fin,...,0,0,0,500,6,2007,WD,277000,3588.0,2.5
616,20,RL,123.0000,47007,Inside,Edwards,Norm,Norm,1Fam,1Story,...,0,0,0,0,7,2008,WD,284700,3820.0,NaN
635,20,A (agr),125.0000,31250,Inside,Mitchel,Artery,Norm,1Fam,1Story,...,135,0,0,0,5,2006,WD,81500,1600.0,1.5
694,20,RL,69.0552,115149,CulDSac,ClearCr,Norm,Norm,1Fam,1Story,...,0,0,0,0,6,2007,WD,302000,3467.0,3.0
745,20,RL,69.0552,57200,Inside,Timber,Norm,Norm,1Fam,1Story,...,50,0,0,0,6,2010,WD,160000,2434.0,2.0
823,60,RL,47.0000,53504,CulDSac,StoneBr,Norm,Norm,1Fam,2Story,...,0,0,210,0,6,2010,WD,538000,4929.0,4.5
841,20,RL,73.0000,39104,CulDSac,ClearCr,Norm,Norm,1Fam,1Story,...,0,0,0,0,4,2008,WD,241500,2748.0,2.0
913,20,RL,69.0552,32668,CulDSac,Crawfor,Norm,Norm,1Fam,1Story,...,200,0,0,0,3,2007,WD,200624,4550.0,4.0
960,60,RL,313.0000,63887,Corner,Edwards,Feedr,Norm,1Fam,2Story,...,0,0,0,0,1,2008,New,160000,11752.0,4.5
1052,20,RL,69.0552,53227,CulDSac,ClearCr,Norm,Norm,1Fam,1Story,...,0,0,0,0,3,2008,WD,256000,3027.0,2.0
1080,20,RL,141.0000,31770,Corner,NAmes,Norm,Norm,1Fam,1Story,...,0,0,0,0,5,2010,WD,215000,2736.0,2.0
1167,20,RL,69.0552,47280,Inside,Gilbert,Norm,Norm,1Fam,1Story,...,180,0,0,0,7,2008,WD,133000,2976.0,2.5
1542,60,RL,52.0000,46589,CulDSac,NoRidge,Norm,Norm,1Fam,2Story,...,0,0,0,0,7,2009,WD,402000,4077.0,3.5
1571,20,RL,68.0000,50271,Inside,Veenker,Norm,Norm,1Fam,1Story,...,0,0,0,0,11,2006,WD,385000,3684.0,2.5
1701,50,RM,90.0000,33120,Inside,OldTown,RRAn,Feedr,1Fam,1.5Fin,...,0,0,0,0,10,2006,WD,220000,4081.0,2.0
1726,20,RL,69.0552,50102,Inside,Timber,Norm,Norm,1Fam,1Story,...,0,0,138,0,3,2006,WD,250764,3282.0,2.0
1843,60,RL,69.0552,53107,Corner,ClearCr,Feedr,Norm,1Fam,2Story,...,0,0,0,0,6,2007,WD,240000,3533.0,3.5
1854,20,RL,62.0000,70761,Inside,ClearCr,Norm,Norm,1Fam,1Story,...,0,0,0,0,12,2006,WD,280000,3066.0,3.0
1875,20,RL,200.0000,43500,Inside,Mitchel,Artery,Norm,1Fam,1Story,...,0,0,0,0,6,2007,WD,130000,2034.0,1.0
1885,20,RL,128.0000,39290,Inside,Edwards,Norm,Norm,1Fam,1Story,...,0,0,0,17000,10,2007,New,183850,10190.0,4.0
1964,20,RL,52.0000,51974,CulDSac,StoneBr,PosN,Norm,1Fam,1Story,...,0,0,322,0,6,2007,New,591587,4998.0,3.5

In [263]:
#dropping two lot_area's over 100,000
# ames.drop(index = [471, 694], inplace = True)

In [264]:
ordinals = {
            'exter_qual' : {'Ex' : 5, 'Gd' : 4, 'TA' : 3, 'Fa' : 2, 'Po' : 1 },
            'exter_cond' : {'Ex' : 5, 'Gd' : 4, 'TA' : 3, 'Fa' : 2, 'Po' : 1 },
            'bsmt_qual'  : {'Ex' : 5, 'Gd' : 4, 'TA' : 3, 'Fa' : 2, 'Po' : 1, 'NA' : 3},
            'bsmt_cond'  : {'Ex' : 5, 'Gd' : 4, 'TA' : 3, 'Fa' : 2, 'Po' : 1, 'NA' : 3}, 
            'bsmt_exposure' : {'Gd': 5, 'Av': 4, 'Mn': 2, 'No': 1, 'NA': 0},
            'bsmtfin_type_1': {'GLQ': 8, 'ALQ': 6, 'BLQ': 4, 'Rec': 3, 'LwQ': 2, 'Unf': 1 , 'NA': 0},
            'heating_qc': {'Ex' : 5, 'Gd' : 4, 'TA' : 3, 'Fa' : 2, 'Po' : 1 }, 
            'electrical': {'SBrkr', 'FuseA', 'FuseF', 'FuseP', 'Mix'},
            'kitchen_qual': {'Ex' : 5, 'Gd' : 4, 'TA' : 3, 'Fa' : 2, 'Po' : 1 },
            'functional': {'Typ': 3, 'Min1': 2, 'Min2': 1, 'Mod': 0, 'Maj1': -1, 'Maj2': -2, 'Sev': -3, 'Sal': -4}
           }

In [265]:
# replace all strings in ordinals with values
for key, value in ordinals.items():
    ames[key].replace(value, inplace = True)

In [266]:
ames.dtypes.head()

ms_subclass       int64
ms_zoning        object
lot_frontage    float64
lot_area          int64
lot_config       object
dtype: object

# Save Training to CSV

In [267]:
ames.to_csv('ames1_clean2')

________________________________________________

# Read in Test CSV

In [268]:
test = pd.read_csv('/Users/jamesopacich/Documents/dsi/projects/project_2/starter_data/test.csv')

In [269]:
test.shape

(878, 80)

In [270]:
ames.columns

Index(['ms_subclass', 'ms_zoning', 'lot_frontage', 'lot_area', 'lot_config',
       'neighborhood', 'condition_1', 'condition_2', 'bldg_type',
       'house_style', 'overall_qual', 'overall_cond', 'year_built',
       'year_remod/add', 'exterior_1st', 'mas_vnr_type', 'mas_vnr_area',
       'exter_qual', 'exter_cond', 'foundation', 'bsmt_qual', 'bsmt_cond',
       'bsmt_exposure', 'bsmtfin_type_1', 'heating', 'heating_qc',
       'central_air', 'electrical', 'bedroom_abvgr', 'kitchen_abvgr',
       'kitchen_qual', 'functional', 'fireplaces', 'garage_type',
       'garage_yr_blt', 'garage_finish', 'garage_cars', 'paved_drive',
       'wood_deck_sf', 'open_porch_sf', 'enclosed_porch', '3ssn_porch',
       'screen_porch', 'misc_val', 'mo_sold', 'yr_sold', 'sale_type',
       'saleprice', 'ttl_sf', 'ttl_bath'],
      dtype='object')

### change column names in test set

In [271]:
test.columns = test.columns.str.lower().str.replace(' ', '_')

### create a sf column to match training df

In [272]:
test['ttl_sf'] = test['total_bsmt_sf'] + test['gr_liv_area']

### create a bath column to match training df

In [273]:
test['ttl_bath'] = test['full_bath'] + (.5 * test['half_bath']) + test['bsmt_full_bath'] + (.5 * test['bsmt_half_bath'])

In [274]:
def column_dropper(df, column_list):
    drop_list = []
    for item in df.columns:
        if item not in column_list:
            drop_list.append(item)
    df.drop(columns = drop_list, inplace = True)

### drop columns that exist in test-df but not in ames-df

In [275]:
column_dropper(test, ames.columns)

In [276]:
test;

In [277]:
test.shape

(878, 49)

In [278]:
ames.shape

(2051, 50)

### Create Dummies for both Df's

In [279]:
def dummy_creator(df):
    # a function that takes a df and returns a df with categorical variables dummified. 
    strings = []
    for feature in df.columns:
        if df[feature].dtypes == str or df[feature].dtypes == object:
            strings.append(feature)
    return pd.get_dummies(df, columns = strings, drop_first = True)

In [280]:
ames_dummy = dummy_creator(ames).copy()

In [281]:
ames_dummy.shape

(2051, 144)

In [282]:
test_dummy = dummy_creator(test).copy()

In [283]:
test_dummy.shape

(878, 157)

### Drop dummy columns in test df that are not in training df.

In [284]:
column_dropper(test_dummy, ames_dummy.columns)

In [285]:
test_dummy.shape

(878, 120)

In [286]:
ames_dummy.shape

(2051, 144)

### Drop columns in training df that are not in test df

In [289]:
column_dropper(ames_dummy, test_dummy.columns)

In [290]:
ames_dummy.shape

(2051, 120)

### Add target column back to training df

In [291]:
ames_dummy['saleprice'] = ames['saleprice']

In [293]:
ames_dummy.shape

(2051, 121)

In [294]:
test_dummy.shape

(878, 120)

### Convert or Eliminate Leftover Nulls

In [313]:
def fill_na_mean(df):
    #Cleans float and integer NaNs by replacing with mean
    
    for item in df.columns:
        if df[item].dtypes == float or df[item].dtypes == int:
            df[item].fillna(df[item].mean(), inplace = True)

In [314]:
fill_na_mean(ames_dummy)

# Save Files to CSV

In [295]:
ames_dummy.to_csv('ames1_clean_dummy')

In [296]:
test_dummy.to_csv('ames1_clean_test_dummy')